# Environment variables declared in this file are automatically made available to Prisma.

## With DB URl you wont able to see any data 
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Google OAuth credentials (server-side only)
## Without this you cant use login 
NEXT_GOOGLE_CLIENT_SECRET="example"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="example.apps.googleusercontent.com"

NEXT_GITHUB_CLIENT_SECRET="example"
NEXT_PUBLIC_GITHUB_CLIENT_ID="example"

NEXTAUTH_SECRET="MyVerySecure32CharacterLongSecret!@#Mangahaven"
NEXT_PUBLIC_API_URL="http://localhost:3000"

## Without this you cant use upload image 
NEXT_CLOUDINARY_CLOUD_NAME=example
NEXT_CLOUDINARY_API_KEY=123456789
NEXT_CLOUDINARY_API_SECRET=example

// Use Your Own Database URL in .env File!
// You can Use PostgreSQL Database using Docker Container. 